<div class="span6 offset3 frost-layer-home">

	<h1 class="thin-header">
		Hi I'm Richard
	</h1>

	<br/>

	<h2 class="main-body">
		I like to whine a lot. Especially on snowy days. Don't forget to go for office hours at 2.30pm.
	</h2>

	<br/>

	<%= link_to 'Launch', '#', :class => 'btn btn-primary btn-large' %>

</div>